@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Libre Baskerville', serif;
}

.libre-baskerville-regular {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .libre-baskerville-bold {
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .libre-baskerville-regular-italic {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: italic;
  }


body{
  background:linear-gradient(30deg,rgba(29, 36, 38, 0.509),rgba(2, 28, 46, 0.966));
    color: aliceblue;
}

.header{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    padding: 20px 10%;
    background-color:darkseagreen;
    background: linear-gradient(45deg,black,rgb(38, 19, 148));
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 24px;
    color:floralwhite;
    text-decoration:underline;
    font-weight: 600;
    pointer-events:fill;
    opacity: 0;
    animation: slidetop 1s ease forwards;
}
.navbar a{
  font-size: 18px;
  color:white;
  text-decoration:underline;
  font-weight: 500;
  margin-left: 35px;
  opacity: 0;
  animation: slidetop .5s ease forwards;
  animation-delay: 1s;
}



.navbar a.active, .navbar a:hover{
  
  background: linear-gradient(45deg,rgb(253, 18, 198),rgba(28, 243, 236, 0.847));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  

}


.home{
  width:100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px 10% 0;
}

.home-content{
  max-width: 500px;
}

.home-content h1{
  font-size: 56px;
  font-weight: 700;
  color: beige;
}


.home-content h3{
  font-size: 28px;
  font-weight: 700;
padding-top: 10px;

}

.home-content p{
  font-size: 16px;
  margin-top: 10px;
  

}

/* From Uiverse.io by xueyuantan */ 
button {
  width: 9em;
  height: 3em;
  border-radius: 30em;
  font-size: 15px;
  font-family: inherit;
  border: none;
  margin-top: 20px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  box-shadow: 6px 6px 12px #c5c5c5,
              -6px -6px 12px #ffffff;
 }
 
 button::before {
  content: '';
  width: 0;
  height: 3em;
  border-radius: 30em;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, #a5379e 0%, #18dbc1 100%);
  transition: .5s ease;
  display: block;
  z-index: -1;
 }
 
 button:hover::before {
  width: 9em;
 }


 .home-sci a {
  display: flex;
  width: 40px;
  height: 40px;
  background: linear-gradient(45deg, #a5379e 0%, #18dbc1 100%);
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  margin-right: 8px;
  margin-top: 3px;
  font-size: 20px;
  color: white;
  text-decoration: none;
  transition: transform 0.3s ease, background 0.3s ease; /* Add transition for smooth animation */
}

/* Hover effect */
.home-sci a:hover {
  transform: scale(1.2); /* Enlarge icon on hover */
  background: linear-gradient(45deg, #18dbc1 0%, #a5379e 100%); /* Reverse gradient on hover */
}

 

 

 .dp img{
  max-width: 300px;;
  border-radius: 50%;
 }


 @keyframes slidetop{
  0%{
    opacity: 0;
    transform: translateY(100px);
  }
  100%{
      opacity: 1;
      transform: translateY(0);
  }
 }
 

 html {
  scroll-behavior: smooth;
}




.about {
  padding: 60px;
  background:linear-gradient(120deg,rgba(107, 144, 155, 0.509),rgba(2, 28, 46, 0.966));
  color: white;
  text-align: center; /* Center align the content */
  margin: 50px auto;
  border-radius: 3%; /* Rounded corners */
  max-width: 750px; /* Limit the width to make it more focused */
  max-height: 530px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition effects */
}

.about:hover {
  transform: translateY(-5px); /* Slight lift effect on hover */
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3); /* Darken the shadow on hover */
}

.about h2 {
  font-size: 36px;
  margin-bottom: 20px;
  font-weight: bold;
  color: beige;
  text-transform: uppercase; /* Add uppercase style for a bold title */
  letter-spacing: 1.5px; /* Slightly increase letter spacing */
}

.about p {
  font-size: 19px;
  line-height: 1.8;
  margin-bottom: 0;
  padding: 0 20px; /* Add padding to create some space around the text */
}

.about::before, .skills::before, .projects::before, .education::before  {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: white;
  margin: 0 auto 20px auto; /* Line divider before the heading */
}

.about::after, .skills::after, .projects::after, .education::after {
  content: "";
  display:block;
  width: 60px;
  height: 3px;
  background-color: white;
  margin: 20px auto 0 auto;
}



.education {
  padding: 60px;
  background: linear-gradient(120deg, rgba(107, 144, 155, 0.509), rgba(2, 28, 46, 0.966));
  color: white;
  text-align: center; 
  margin: 50px auto;
  border-radius: 3%;
  max-width: 750px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.education:hover {
  transform: translateY(-5px); /* Lift effect on hover */
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3); /* Darker shadow on hover */
}

.education h2 {
  font-size: 36px;
  margin-bottom: 20px;
  font-weight: bold;
  color: beige;
  text-transform: uppercase; /* Uppercase title */
  letter-spacing: 1.5px;
}

.education-item h3 {
  font-size: 28px;
  font-weight: bold;
  color:#eee;
  margin-bottom: 10px;
}

.education-item p {
  font-size: 18px;
  margin-bottom: 5px;
  color: lightgray;
}


.skills {
  padding: 60px;
  background:linear-gradient(120deg,rgba(107, 144, 155, 0.509),rgba(2, 28, 46, 0.966));
  color: white;
  text-align: center; 
  margin: 50px auto;
  border-radius: 3%; 
  max-width: 750px;
  max-height: 620px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.skills h2 {
  font-size: 38px;
  margin-bottom: 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: beige;
}

.skill-category {
  margin-bottom: 20px;
}

.skill-category h3 {
  font-size: 24px;
  color:#ffffff;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.skill-category p {
  font-size: 18px;
  color:honeydew;
  margin: 0 auto;
  max-width: 600px;
  line-height: 1.6;
}



.projects {
  padding: 60px;
  background:linear-gradient(120deg,rgba(107, 144, 155, 0.509),rgba(2, 28, 46, 0.966));
  margin-top: 50px;
  border-radius: 3%;
  margin:50px auto;

  max-width: 900px; /* Limit the width to make it more focused */
  max-height: 1900px;

}

.projects h2 {
  font-size: 36px;
  margin-bottom: 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: beige;
  text-align: center;
}

.project {
  margin-bottom: 30px;
}

.project h3 {
  font-size: 24px;
  color:#ffffff;
  margin-bottom: 10px;
}

.project p {
  font-size: 18px;
  color:#ffffff;
}

.project ul {
  list-style-type: disc;
  padding-left: 20px;
}

.project ul li {
  font-size: 16px;
  line-height: 1.6;
  color: honeydew;
}



.contact {
  padding: 60px;
  background:linear-gradient(120deg,rgba(107, 144, 155, 0.509),rgba(2, 28, 46, 0.966));
  color: #fff;
  text-align: center;
  margin-top: 50px;
}

.contact h2 {
  font-size: 36px;
  margin-bottom: 10px;
  color:beige;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.contact p {
  font-size: 18px;
  margin-bottom: 30px;
  color:honeydew
}

.contact-form {
  max-width: 600px;
  margin: 0 auto;
  background:linear-gradient(120deg,rgba(107, 144, 155, 0.509),rgba(2, 28, 46, 0.966));
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
  color: #ccc;
}

.form-group input, 
.form-group textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  outline: none;
  color: #333;
}

.form-group input::placeholder, 
.form-group textarea::placeholder {
  color: #999;
}

.form-group input:focus, 
.form-group textarea:focus {
  border: 2px solid #fff;
  background-color: #eee;
}

.btn {
  display: inline-block;
  padding: 6.5px 20px;
  background-color: #f6f9f7;
  color: #fff;
  ;
  font-size: 15px;
  text-transform: uppercase;
  border-radius: 40px;
  cursor: pointer;

  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #f3f3f3;
}



.social-links {
  /* margin: -30px; */
  margin-top: -53px;
  margin-left:500px;

}

.social-links a {
  font-size: 50px;
  color: #25D366; /* WhatsApp green */
  margin-right: 20px;
  transition: color 0.3s ease;
}

.social-links a:hover {
  color: #128C7E; /* Darker WhatsApp green */
}


.social-links {
  margin-top: -10.5%;
  margin-left:90.2%;

}

.social-links a {
  font-size: 50px;
  color: #25D366;
  margin-right: 2%;
  transition: color 0.3s ease;
}

.social-links a:hover {
  color: #0eaeedf6;
}




.gmail {
  margin-top: -10.1%;
  margin-right:90%;

}

.gmail a {
  font-size: 45px;
  color: #25D366;
  margin-right: 1%;
  transition: color 0.3s ease;
}

.gmail a:hover {
  color: #128C7E;
}



.awards-certifications {
  padding: 6%;
  background: linear-gradient(120deg, rgba(107, 144, 155, 0.509), rgba(2, 28, 46, 0.966));
  color: white;
  text-align: center;
  margin: 5% auto;
  border-radius: 3%;
  max-width: 60%;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.awards-certifications h2 {
  font-size: 36px;
  margin-bottom: 2.4%;
  font-weight: bold;
  color: beige;
  text-transform: uppercase;
  letter-spacing: 1%;
}

.award-item {
  margin-bottom: 3%;
}

.award-item h3 {
  font-size: 28px;
  font-weight: bold;
  color:white;
  margin-bottom: 2%;
}

.award-item p {
  font-size: 18px;
  color: honeydew;
}



.footer {
  text-align: center;
  
  background-color: rgba(2, 28, 46, 0.966);
  color: white;
  font-size: 14px;

  position: relative;
  bottom: 0;
  width: 100%;
}

.footer p {
  color: lightgray;
}
